.big {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../image/background.png");
    background-size: cover;
}

#header {
    width: 100%;
    height: 100%;
}

.container {
    width: 7.01rem;
    height: 0.91rem;
    min-height: 1px;
    margin: 0 auto;
}

.topBar {
    width: 100%;
    height: 100%;
}

.topBar .back {
    float: left;
    font-family: "iconfont";
    color: #5e5e5f;
    font-size: 0.36rem;
    font-weight: 600;
    line-height: 0.91rem;
}


.topBar .login {
    float: right;
    font-size: 0.26rem;
    line-height: 0.91rem;
}

#message {
    width: 6.64rem;
    height: 6.1rem;
    background: #ffffff;
    box-shadow: 0px 1px 24px 0px rgba(229, 229, 229, 0.8);
    margin: 1.5rem auto 0;
    padding-top: 0.05rem;
    position: relative;
}

#message .messageContent {
    width: 5.5rem;
    height: 1.2rem;
    margin: 0.5rem auto 0;
}

.messageContent .name {
    font-size: 0.28rem;
    font-weight: 600;
}

.messageContent .userName {
    margin-top: 0.25rem;
}
.userName input{
    border: none;
}
.userName input:focus{
    outline: none;
}
.messageContent .code{
    width: 1.53rem;
    height: 0.5rem;
    background: #ff4848;
    border-radius: 21px;
    position: absolute;
    top: 2.8rem;
    right: 0.55rem;
}
.code p{
    font-size: 0.22rem;
    color: #ffffff;
    line-height: 0.5rem;
    text-align: center;
}
.line {
    width: 5.5rem;
    height: 0.02rem;
    background: rgba(199,199,199,0.6);
    margin: 0.2rem auto 0;
}

.lineA {
    width: 2.72rem;
    height: 0.02rem;
    background: rgba(199,199,199,0.6);
    margin-top: 0.2rem;
}
#message .forget{
    width: 5.5rem;
    height: 0.3rem;
    margin: 0.3rem auto;
}
.forget .forgetIcon{
    font-family: "iconfont";
    float: left;
    margin-top: 0.02rem;
    margin-right: 0.1rem;
    font-size: 14px;
    color: #ff6700;
    line-height: 0.3rem;
    font-weight: 600;

}
.forget p{
    float: left;
    font-size: 0.24rem;
    line-height: 0.3rem;
    color: #aaaaaa;
}

#Button {
    width: 6.64rem;
    height: 1.12rem;
    background-color: #ffffff;
    box-shadow: 0px 1px 24px 0px rgba(229, 229, 229, 0.8);
    margin: 0.64rem auto 0;
}

#Button p {
    font-size: 0.28rem;
    text-align: center;
    line-height: 1.12rem;
    font-weight: 600;
}


