.nav {
    width: 100%;
    height: 79px;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
}

.navContent {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 14px;
}

.navList {
    width: 602px;
    height: 100%;
    float: right;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.logo a img {
    width: 100%;
    height: 100%;
}

.navList li {
    float: left;
    width: 86px;
    height: 100%;
}

.navList li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    transition: .5s;
}

/*当鼠标移上时,变颜色*/
.navList li a:hover {
    color: #16b0bc;
}


/*nav*/

.empty {
    width: 100%;
    height: 79px;
}

#content {
    width: 100%;
    height: 1088px;
    background: #757575;
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
}

.content > img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s;
}
.content>img:hover{
    opacity: 0.6;
    transform: scale(1.1,1.1);

}
.content > .contentInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 144px;
    height: 137px;
    opacity: 0.6;
}
.content:hover .contentInfo{
    opacity: 1;
}
.contentInfo > span {
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

.contentInfo > .line {
    width: 20px;
    height: 2px;
    margin: 15px auto;
    background: #fff;
}

.contentInfo > h3 {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 24px;

}
.contentInfo>.see{
    width: 60px;
    height: 34px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin: 10px auto 0;
}
.see>p{
    color: #ffffff;
    line-height: 34px;
    text-align: center;
}

/*content*/


.footer {
    width: 100%;
    height: 160px;
    border-top: 1px solid #f0f2f5;
    padding-top: 20px;
}

.footerContent {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #f5f5f5;
}

.icon {
    width: 100%;
    height: 56px;
    margin: 0 auto;

}

.icon .iconContent {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding-top: 10px;
}

.icon .iconContent img {
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
}

.phone {
    width: 100%;
    height: 75px;
    margin: 0 auto;

}

.phone .choose {
    height: 20px;
    padding: 5px 0;
}

.phone .choose a {
    color: #42a6fa;
}

.phone .choose a:hover {
    text-decoration: underline;
}

.phone p {
    text-align: center;
    font: 14px "Microsoft YaHei UI";
    line-height: 25px;
    color: #aaaaaa;
}

/*footer*/